# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://www.ncei.noaa.gov/cdo-web/datasets/GHCND/locations/ZIP:64116/detail

Import the necessary libraries and create your dataframe(s).

In [1]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sb
import plotly.express as px
import matplotlib.pyplot as plt
from matplotlib import style

# read in .csv file as dataframe
weather_df = pd.read_csv('WeatherData.csv')
weather_df = weather_df.drop(['Unnamed: 0'],axis=1)
weather_df.head(25)

,STATION,NAME,DATE,Avg Daily Cloudiness (%),Avg Solar Day Cloudiness (%),Avg Daily Wind Speed (mph),Days in Multiday Precipitation,Fastest Wind Time (HH:MM),Base of Frozen Ground Layer (inches),Top of Frozen Ground Layer (inches),...,Weather Type - Freezing Drizzle,Weather Type - Rain,Weather Type - Freezing Rain,Weather Type - Snow,Weather Type - Ice Fog or Freezing Fog,Year,Month,Day,Month & Day,Year & Month
0,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,1.0,NaN,1934,1,1,01-01,1934-01
1,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,1934,1,2,01-02,1934-01
2,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,1.0,NaN,1934,1,3,01-03,1934-01
3,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,1.0,NaN,1934,1,4,01-04,1934-01
4,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,1934,1,5,01-05,1934-01
5,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,1934,1,6,01-06,1934-01
6,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,1.0,NaN,1934,1,7,01-07,1934-01
7,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,1934,1,8,01-08,1934-01
8,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,1.0,NaN,1934,1,9,01-09,1934-01
9,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,1934,1,10,01-10,1934-01
10,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1934,1,11,01-11,1934-01
11,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,1.0,NaN,1934,1,12,01-12,1934-01
12,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,1934,1,13,01-13,1934-01
13,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1934,1,14,01-14,1934-01
14,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1934,1,15,01-15,1934-01
15,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1934,1,16,01-16,1934-01
16,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1934,1,17,01-17,1934-01
17,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1934,1,18,01-18,1934-01
18,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1934,1,19,01-19,1934-01
19,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1934,1,20,01-20,1934-01
20,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1934,1,21,01-21,1934-01
21,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,1934,1,22,01-22,1934-01
22,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1934,1,23,01-23,1934-01
23,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1934,1,24,01-24,1934-01
24,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1934,1,25,01-25,1934-01

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [3]:
# Remove NKC station.  The data span is not significant and there is no max and min temperature data.

weather_df = weather_df[weather_df['STATION']=='USW00013988']
weather_df.tail()

,STATION,NAME,DATE,Avg Daily Cloudiness (%),Avg Solar Day Cloudiness (%),Avg Daily Wind Speed (mph),Days in Multiday Precipitation,Fastest Wind Time (HH:MM),Base of Frozen Ground Layer (inches),Top of Frozen Ground Layer (inches),...,Weather Type - Freezing Drizzle,Weather Type - Rain,Weather Type - Freezing Rain,Weather Type - Snow,Weather Type - Ice Fog or Freezing Fog,Year,Month,Day,Month & Day,Year & Month
29965,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",2023-05-17,NaN,NaN,4.03,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023,5,17,05-17,2023-05
29966,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",2023-05-18,NaN,NaN,4.47,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023,5,18,05-18,2023-05
29967,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",2023-05-19,NaN,NaN,4.70,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023,5,19,05-19,2023-05
29968,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",2023-05-20,NaN,NaN,4.25,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023,5,20,05-20,2023-05
29969,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",2023-05-21,NaN,NaN,3.58,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023,5,21,05-21,2023-05

In [4]:
# Review column information

weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29970 entries, 0 to 29969
Data columns (total 56 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   STATION                                           29970 non-null  object
 1   NAME                                              29970 non-null  object
 2   DATE                                              29970 non-null  object
 3   Avg Daily Cloudiness (%)                          3886 non-null   float64
 4   Avg Solar Day Cloudiness (%)                      3886 non-null   float64
 5   Avg Daily Wind Speed (mph)                        10904 non-null  float64
 6   Days in Multiday Precipitation                    3 non-null      float64
 7   Fastest Wind Time (HH:MM)                         3875 non-null   float64
 8   Base of Frozen Ground Layer (inches)              5 non-null      float64
 9   Top of Frozen Ground Layer (inches)               6 non-null      float64
 10  Thickness of Frozen Ground Layer (inches)         5 non-null      float64
 11  Distance Between River and Gauge Height (inches)  6203 non-null   float64
 12  Multiday Precipitation Total (inches)             6 non-null      float64
 13  Peak Gust Time (HH:MM)                            5274 non-null   float64
 14  Precipitation (inches)                            29908 non-null  float64
 15  Daily % of Possible Sunshine                      2835 non-null   float64
 16  Snowfall (inches)                                 25137 non-null  float64
 17  Snow Depth (inches)                               24073 non-null  float64
 18  Avg Hourly Temp (Fahrenheit)                      2677 non-null   float64
 19  Highest Hourly Temp (Fahrenheit)                  29934 non-null  float64
 20  Lowest Hourly Temp (Fahrenheit)                   29931 non-null  float64
 21  Temperature at Observation (Fahrenheit)           2768 non-null   float64
 22  Daily Total Sunshine (minutes)                    4058 non-null   float64
 23  Direction of Fastest 1-Minute Wind (degrees)      1056 non-null   float64
 24  Direction of Fastest 2-Minute Wind (degrees)      9180 non-null   float64
 25  Direction of Fastest 5-Minute Wind (degrees)      9174 non-null   float64
 26  Direction of Peak Wind Gust (degrees)             491 non-null    float64
 27  Fastest mile wind direction (degrees)             2830 non-null   float64
 28  Water Equivalent of Snow on the Ground (inches)   404 non-null    float64
 29  Water-equivalent of Snowfall (inches)             0 non-null      float64
 30  Fastest 1-minute wind speed (mph)                 1055 non-null   float64
 31  Fastest 2-minute wind speed (mph)                 9180 non-null   float64
 32  Fastest 5-minute wind speed (mph)                 9174 non-null   float64
 33  Peak Guest Wind Speed (mph)                       494 non-null    float64
 34  Fastest mile wind speed (mph)                     2830 non-null   float64
 35  Weather Type - Fog                                6852 non-null   float64
 36  Weather Type - Heavy or Freezing Fog              255 non-null    float64
 37  Weather Type - Thunder                            3624 non-null   float64
 38  Weather Type - Ice Pellets                        304 non-null    float64
 39  Weather Type - Hail                               207 non-null    float64
 40  Weather Type - Glaze or rime                      414 non-null    float64
 41  Weather Type - Dust, Volcanic Ash, Blowing Dust   132 non-null    float64
 42  Weather Type - Smoke or Haze                      9311 non-null   float64
 43  Weather Type - Blowing or Drifting Snow           121 non-null    float64
 44  Weather Type - High or Damaging Winds             59 non-null     float64
 45  Weather Type - Drizzle                            336 non-null    float64
 46  Weather Type - Freezing Drizzle                   26 non-null     float64
 47  Weather Type - Rain                               6430 non-null   float64
 48  Weather Type - Freezing Rain                      13 non-null     float64
 49  Weather Type - Snow                               1754 non-null   float64
 50  Weather Type - Ice Fog or Freezing Fog            3 non-null      float64
 51  Year                                              29970 non-null  int64
 52  Month                                             29970 non-null  int64
 53  Day                                               29970 non-null  int64
 54  Month & Day                                       29970 non-null  object
 55  Year & Month                                      29970 non-null  object
dtypes: float64(48), int64(3), object(5)
memory usage: 13.0+ MB

In [5]:
# remove all columns with less than 5% coverage

total_records = len(weather_df.index)

columns_to_delete = []

for column in weather_df.columns:
    if weather_df[column].notnull().sum() < (total_records * 0.05):
        columns_to_delete.append(column)

weather_df.drop(weather_df.loc[:,columns_to_delete], axis=1,inplace=True)

# Review remaining columns
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29970 entries, 0 to 29969
Data columns (total 34 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   STATION                                           29970 non-null  object
 1   NAME                                              29970 non-null  object
 2   DATE                                              29970 non-null  object
 3   Avg Daily Cloudiness (%)                          3886 non-null   float64
 4   Avg Solar Day Cloudiness (%)                      3886 non-null   float64
 5   Avg Daily Wind Speed (mph)                        10904 non-null  float64
 6   Fastest Wind Time (HH:MM)                         3875 non-null   float64
 7   Distance Between River and Gauge Height (inches)  6203 non-null   float64
 8   Peak Gust Time (HH:MM)                            5274 non-null   float64
 9   Precipitation (inches)                            29908 non-null  float64
 10  Daily % of Possible Sunshine                      2835 non-null   float64
 11  Snowfall (inches)                                 25137 non-null  float64
 12  Snow Depth (inches)                               24073 non-null  float64
 13  Avg Hourly Temp (Fahrenheit)                      2677 non-null   float64
 14  Highest Hourly Temp (Fahrenheit)                  29934 non-null  float64
 15  Lowest Hourly Temp (Fahrenheit)                   29931 non-null  float64
 16  Temperature at Observation (Fahrenheit)           2768 non-null   float64
 17  Daily Total Sunshine (minutes)                    4058 non-null   float64
 18  Direction of Fastest 2-Minute Wind (degrees)      9180 non-null   float64
 19  Direction of Fastest 5-Minute Wind (degrees)      9174 non-null   float64
 20  Fastest mile wind direction (degrees)             2830 non-null   float64
 21  Fastest 2-minute wind speed (mph)                 9180 non-null   float64
 22  Fastest 5-minute wind speed (mph)                 9174 non-null   float64
 23  Fastest mile wind speed (mph)                     2830 non-null   float64
 24  Weather Type - Fog                                6852 non-null   float64
 25  Weather Type - Thunder                            3624 non-null   float64
 26  Weather Type - Smoke or Haze                      9311 non-null   float64
 27  Weather Type - Rain                               6430 non-null   float64
 28  Weather Type - Snow                               1754 non-null   float64
 29  Year                                              29970 non-null  int64
 30  Month                                             29970 non-null  int64
 31  Day                                               29970 non-null  int64
 32  Month & Day                                       29970 non-null  object
 33  Year & Month                                      29970 non-null  object
dtypes: float64(26), int64(3), object(5)
memory usage: 8.0+ MB

In [6]:
# Remove remaining irrelevant columns

irrelevant_columns = ['Avg Daily Cloudiness (%)',
                      'Avg Solar Day Cloudiness (%)',
                      'Avg Daily Wind Speed (mph)',
                      'Fastest Wind Time (HH:MM)',
                      'Distance Between River and Gauge Height (inches)',
                      'Peak Gust Time (HH:MM)',
                      'Daily % of Possible Sunshine',
                      'Direction of Fastest 2-Minute Wind (degrees)',
                      'Direction of Fastest 5-Minute Wind (degrees)',
                      'Fastest mile wind direction (degrees)',
                      'Fastest 2-minute wind speed (mph)',
                      'Fastest 5-minute wind speed (mph)',
                      'Fastest mile wind speed (mph)',
                      'Weather Type - Fog','Weather Type - Thunder',
                      'Weather Type - Smoke or Haze',
                      'Weather Type - Rain','Weather Type - Snow',
                      'Daily Total Sunshine (minutes)']

weather_df.drop(weather_df.loc[:,irrelevant_columns], axis=1,inplace=True)

weather_df.head()

,STATION,NAME,DATE,Precipitation (inches),Snowfall (inches),Snow Depth (inches),Avg Hourly Temp (Fahrenheit),Highest Hourly Temp (Fahrenheit),Lowest Hourly Temp (Fahrenheit),Temperature at Observation (Fahrenheit),Year,Month,Day,Month & Day,Year & Month
0,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-01,0.00,0.0,0.0,NaN,26.0,15.0,NaN,1934,1,1,01-01,1934-01
1,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-02,0.00,0.0,0.0,NaN,33.0,25.0,NaN,1934,1,2,01-02,1934-01
2,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-03,0.21,0.0,0.0,NaN,32.0,30.0,NaN,1934,1,3,01-03,1934-01
3,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-04,0.20,0.0,0.0,NaN,34.0,32.0,NaN,1934,1,4,01-04,1934-01
4,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1934-01-05,0.00,0.0,0.0,NaN,36.0,32.0,NaN,1934,1,5,01-05,1934-01

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [7]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29970 entries, 0 to 29969
Data columns (total 15 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   STATION                                  29970 non-null  object
 1   NAME                                     29970 non-null  object
 2   DATE                                     29970 non-null  object
 3   Precipitation (inches)                   29908 non-null  float64
 4   Snowfall (inches)                        25137 non-null  float64
 5   Snow Depth (inches)                      24073 non-null  float64
 6   Avg Hourly Temp (Fahrenheit)             2677 non-null   float64
 7   Highest Hourly Temp (Fahrenheit)         29934 non-null  float64
 8   Lowest Hourly Temp (Fahrenheit)          29931 non-null  float64
 9   Temperature at Observation (Fahrenheit)  2768 non-null   float64
 10  Year                                     29970 non-null  int64
 11  Month                                    29970 non-null  int64
 12  Day                                      29970 non-null  int64
 13  Month & Day                              29970 non-null  object
 14  Year & Month                             29970 non-null  object
dtypes: float64(7), int64(3), object(5)
memory usage: 3.7+ MB

In [11]:
# Check for duplicate dates

len(weather_df['DATE'].unique())

29970

In [12]:
Missing_Data = weather_df[(weather_df['Lowest Hourly Temp (Fahrenheit)'].isna()) | (weather_df['Highest Hourly Temp (Fahrenheit)'].isna()) | (weather_df['Precipitation (inches)'].isna())]
Missing_Data

,STATION,NAME,DATE,Precipitation (inches),Snowfall (inches),Snow Depth (inches),Avg Hourly Temp (Fahrenheit),Highest Hourly Temp (Fahrenheit),Lowest Hourly Temp (Fahrenheit),Temperature at Observation (Fahrenheit),Year,Month,Day,Month & Day,Year & Month
15056,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1981-05-22,NaN,0.0,0.0,NaN,85.0,69.0,NaN,1981,5,22,05-22,1981-05
15795,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1983-05-31,0.0,0.0,0.0,NaN,NaN,51.0,NaN,1983,5,31,05-31,1983-05
16521,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1985-05-26,NaN,0.0,0.0,NaN,93.0,66.0,NaN,1985,5,26,05-26,1985-05
16522,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1985-05-27,NaN,0.0,0.0,NaN,72.0,63.0,NaN,1985,5,27,05-27,1985-05
17737,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",1988-09-23,NaN,0.0,0.0,NaN,69.0,59.0,NaN,1988,9,23,09-23,1988-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29478,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",2022-01-15,NaN,NaN,NaN,NaN,33.0,21.0,NaN,2022,1,15,01-15,2022-01
29670,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",2022-07-26,NaN,NaN,NaN,NaN,79.0,66.0,NaN,2022,7,26,07-26,2022-07
29671,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",2022-07-27,NaN,NaN,NaN,NaN,87.0,70.0,NaN,2022,7,27,07-27,2022-07
29691,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",2022-08-16,NaN,NaN,NaN,NaN,72.0,65.0,NaN,2022,8,16,08-16,2022-08
29928,USW00013988,"KANSAS CITY DOWNTOWN AIRPORT, MO US",2023-04-10,NaN,NaN,NaN,NaN,71.0,54.0,NaN,2023,4,10,04-10,2023-04

In [ ]:
# 
years = list(map(str, range(1934,2023)))
years

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
2. Did the process of cleaning your data give you new insights into your dataset?
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?